/* ----------------------------------------
     style Communs  des grids
---------------------------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.container {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu current_music"
        "menu others_musics"
        "player_music player_music";
}

.menu {
    grid-area: menu;
}

.current_music {
    grid-area: current_music;
}

.others_musics {
    grid-area: others_musics;
}

.player_music {
    grid-area: player_music;
}


/* ----------------------------------------
 Brice//   titre et couleur ainsi que l'image
---------------------------------------- */
.container-1{
    background-color: rgb(6, 7, 7);
    height: 100%; 
}
.container h1 {
    padding: 0%;
    color: #fdfdfd;
    font-size: 40px;
    margin-left: 300px;
    margin-top: -180px;
}
.container-1 .album{
    margin-left: 300px;
    margin-top: 35px;
    color: #fdfdfd;
}
.current_music img{
    margin-top: 80px;
    margin-left: 50px;
}


/* ----------------------------------------
    Yanis//   menu de la page
---------------------------------------- */
body,
.container {
    height: 100vh;
}

nav i {
    color: white;
}

.menu {
    height: 80%;
   
}

nav  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

/* ----------------------------------------
    Tom
---------------------------------------- */